// Color System

$white: #fff !default;
$gray-500: #424242;
$gray-400: #616161;
$gray-300: #9e9e9e;
$gray-200: #e0e0e0;
$gray-100: #f5f5f5;

$primary: #7b5c92;
$primary-light: #eee8f3;

// Spacing
$spacing: 1rem / 2;
$spacings: (1, 2, 3, 4, 5);

$positions: (
  t: "top",
  r: "right",
  b: "bottom",
  l: "left",
);

// Typography

$font-family-sans-serif: Montserrat, sans-serif;
$font-size-base: 1rem;
$font-size-small: $font-size-base * 0.75;
$font-icon-size: 1.5rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.5;

$headings-font-sizes: (
  1: 1.87rem,
  2: 1.5rem,
  3: 1.37rem,
  4: 1.25rem,
  5: 1.12rem,
  6: 1rem,
) !default;

$headings-line-height: 1.2;
$headings-font-weight: 700;
$headings-margin-bottom: $spacing !default;

$colors: (
  "primary": $primary,
  "gray-dark": $gray-500,
  "gray": $gray-400,
  "gray-light": $gray-300,
  "white": $white,
) !default;

$border-radius: 4px;
