@font-face {
  font-display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/icons/icomoon.woff") format("woff");
}

.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  font-size: $font-icon-size;
}

.facebook:before {
  content: "\e900";
}

.twitter:before {
  content: "\e901";
}

.whatsapp:before {
  content: "\e902";
}
