@font-face {
  font-family: "icomoon";
  src: url("../../assets/icons/icomoon.eot?xlvaaq");
  src: url("../../assets/icons/icomoon.eot?xlvaaq#iefix")
      format("embedded-opentype"),
    url("../../assets/icons/icomoon.ttf?xlvaaq") format("truetype"),
    url("../../assets/icons/icomoon.woff?xlvaaq") format("woff"),
    url("../../assets/icons/icomoon.svg?xlvaaq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  font-size: $font-icon-size;
}

.facebook:before {
  content: "\e900";
}

.twitter:before {
  content: "\e901";
}

.whatsapp:before {
  content: "\e902";
}
