.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialShare {
  text-decoration: none;
  display: inline-block;
  color: $gray-300;

  & i {
    transition: all ease 0.25s;

    &:hover {
      color: $primary;
    }
  }
}
